<!DOCTYPE html>
<html>
<head>
<title></title>
<link href= "/public/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="mySidenav" class="sidenav">
    <a href="/">Home</a>
    <a href="student">Add student</a>
    <a href="students">Students</a>
    <a href="login">Login</a>
    <a href="register">Register</a>
  </div>
  
  <div id="myHeader" class="header">HEADER</div>

  <div id="myBody" class="abody">
<%- body %>
</div>

<div id="myFooter" class="footer">FOOTER</div>

</body>
</html>