<h1><%= title %></h1>
<form action="student/addStudent" method="POST">
    Name: <input type="text" name="name"><br>
    Grade: <input type="text" name="grade"><br>
    <input type="submit" value="Submit">
</form>